html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: linear-gradient(55deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background-color-change 40s ease-in-out infinite;
}

@-webkit-keyframes background-color-change {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes background-color-change {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes background-color-change {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes background-color-change { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.container {
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    margin: 4px 0 12px 0;
}

img {
    height: 2rem;
    width: 2rem;
    fill: white;
}

a :hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(200deg)
    saturate(4)
    brightness(1);
}

.social-media-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}